
MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=01282e27872a23c1fedebe0c47ac200191d9d74ac4cde14476afeb3742eea571

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# --- Registration ---
MOCK_EMAIL_VERIFICATION=true


ADMIN_EMAIL=test20261@gmail.com
ADMIN_PASSWORD=Test@5050

STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

STRIPE_WEBHOOK_SECRET=

